* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(41, 39, 39, 0.8);
}

.title {
    text-align: center;
    color: #000;
    font-size: 2em;
    padding: 20px;
    text-shadow: 0px 0px 5px #999;

}

.list {
    padding: 2rem;
}

.recipe { 
    font-size: 3rem;
}

.ingredients { 
    font-size: 1.5em;
}

.items-block {
    display: block;
    height: auto;
    width: 500px;
    margin-bottom: 30px;
    background-color: #777;
    border-style: inset;
    border-color: #111;
    border-radius: 2rem;
    margin-left: 1rem;
}

img { 
    height: auto;
    width: 500px;
    margin-bottom: 20px;
}

.recipe-image {
    display: flex;
    justify-content: center;
}