* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(320deg,rgba(85, 83, 83, 0.89), rgba(10, 10, 10, 0.986) );
}

.title {
    text-align: center;
    color: #000;
    font-size: 35px;
    padding: 20px 0 0 0;
    text-shadow: 0px 0px 5px #999;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.items-block {
    display: block;
    height: auto;
    width: auto;
    border-style: inset;
    border-color: #111;
    border-radius: 33px;
    background: #5a5a5a;
    box-shadow: inset 20px 20px 50px #1a1a1a, inset -22px -22px 50px #3a3a3a;

    margin: 10px;
}

.description {
    width: 50%;
    flex: 2
}

.ingredients {
    flex: 1;
}

.steps {
    flex: 1;
}

.recipe-info {
    display: flex;
    width: 51%;
}

.list {
    padding: 2rem;
}

.recipe { 
    font-size: 3rem;
}


img { 
    left: 0%;
    top: 0%;
    height: 50vh;
    width: 50vw;
    margin-bottom: 20px;
}

.recipe-image {
    display: flex;
    justify-content: center;
}