* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(31, 28, 28, 0.884);
}

.title {
    text-align: center;
    color: #000;
    font-size: 35px;
    padding: 20px 0 0 0;
    text-shadow: 0px 0px 5px #999;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.items-block {
    display: block;
    height: auto;
    width: auto;
    background-color: #777;
    border-style: inset;
    border-color: #111;
    border-radius: 2rem;
    margin: 10px;
}

.description {
    width: 50%;
    flex: 2
}

.ingredients {
    flex: 1;
}

.steps {
    flex: 1;
}

.recipe-info {
    display: flex;
    width: 51%;
}

.list {
    padding: 2rem;
}

.recipe { 
    font-size: 3rem;
}


img { 
    left: 0%;
    top: 0%;
    height: 50%;
    width: 50%;
    margin-bottom: 20px;
}

.recipe-image {
    display: flex;
    justify-content: center;
}